/* src/styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset & baseline layout */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
